.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    max-width: 600px;
    
    margin: 6rem auto;
    padding: 1.5rem 1.5rem;

    border: 7px solid var(--silver);
    border-style: double;

    background-image: url('/img/got-background.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 900px){
    .container{
        grid-template-columns: 1fr;
    }
}

.image{
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid var(--silver);
    border-style: solid;

}

.header{
    text-align: center;
    margin-bottom: 2rem;
}

.textContainer{
    margin-left: 1.5rem;
}

.name{
    margin-bottom: .25rem;

    font-family: 'Cinzel', serif;
    font-size: 2rem;
    color: var(--silver);

    border-bottom: 1px solid var(--silver);

    
}

.title{
    text-align: center;  

    font-size: 1.5rem;
}

.family{
    margin-top: 3rem;

    text-align: center;  

    font-size: 1.25rem;
}
